        @import './variables';
        *:root {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            font-family: 'Spartan', sans-serif;
            font-size: 15px;
            background: $white;
            background-image: url('../images/bg-pattern-top-desktop.svg'), url('../images/bg-pattern-bottom-desktop.svg');
            background-repeat: no-repeat;
            background-position: left -55px top -9px, right 9em;
        }
        
        .row {
            width: 90%;
            max-width: 1440px;
            display: flex;
            justify-content: space-around;
            margin: 6em auto;
            .left-col {
                text-align: left;
                margin-left: -3em;
                h1 {
                    font-size: 46px;
                    color: $very-dark-magenta;
                    line-height: 48px;
                    margin-bottom: 0;
                }
                p {
                    color: $dark-grayish-magenta;
                    line-height: 23px;
                    font-weight: 500;
                }
            }
            .right-col {
                margin-top: 30px;
                div {
                    display: flex;
                    background: $light-grayish-magenta;
                    border-radius: 7px;
                    padding: 5px 25px;
                    margin-bottom: 15px;
                    div {
                        padding-bottom: 2px;
                        img {
                            padding: 2px 2px 0 2px;
                        }
                    }
                    p {
                        color: $very-dark-magenta;
                        font-weight: 700;
                        padding: 0px 22px;
                        margin-top: 8px;
                    }
                }
                .first-section {
                    margin-left: -4em;
                    margin-right: 4em;
                }
                .second-section {
                    margin-left: -17px;
                }
                .third-section {
                    margin-right: -35px;
                    margin-left: 35px;
                }
            }
        }
        /******** Testimonials ************/
        
        .row {
            width: 90%;
            display: flex;
            justify-content: space-around;
            .card {
                background: $very-dark-magenta;
                border-radius: 7px;
                padding: 30px 17px;
                margin-right: 25px;
                .person-name {
                    display: flex;
                    justify-content: flex-start;
                    img {
                        border-radius: 50%;
                        width: 15%;
                        height: 15%;
                        margin-right: 25px;
                    }
                    div {
                        margin-top: -14px;
                        h4 {
                            color: $white;
                            font-weight: 700;
                            margin-bottom: 9px;
                        }
                        p {
                            font-weight: normal;
                            color: $soft-pink;
                            margin-top: -8px;
                        }
                    }
                }
                p {
                    color: $white;
                    line-height: 29px;
                }
            }
            .first-card {
                margin-top: -20px;
                margin-bottom: 20px;
            }
            .card.third-card {
                margin-top: 20px;
                margin-bottom: -20px;
            }
        }
        /****** Tablet Css ********/
        
        @media only screen and (max-width: 1000px) {
            body {
                font-family: 'Spartan', sans-serif;
                font-size: 15px;
                background: $white;
                background-image: url('../images/bg-pattern-top-desktop.svg'), url('../images/bg-pattern-bottom-desktop.svg');
                background-repeat: no-repeat;
                background-position: left -55px top -9px, right 50em;
            }
            .row {
                .card {
                    margin-right: 0!important;
                }
                width: 375px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                .left-col {
                    margin-left: 0 !important;
                    h1 {
                        text-align: center;
                    }
                    p {
                        text-align: center;
                    }
                }
            }
            .right-col {
                width: 375px;
                div {
                    p {
                        margin-top: -5px !important;
                    }
                }
                .first-section,
                .third-section {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-left: 0 !important;
                    margin-right: 0 !important;
                }
                .second-section {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-left: 0 !important;
                }
            }
        }